.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/****** RETINA *************
****************************/
body {
  text-shadow: 0 -1px 0 #ffffff;
}
a {
  text-decoration: none !important;
}
.weekday,
.planday {
  min-height: 100px;
  margin-top: 5px;
  margin-right: 20px;
  float: left;
  width: 100%;
}
.task {
  float: left;
  width: 100%;
}
.plan {
  border-left: 1px solid #EEE;
  margin-left: -1px;
  padding-left: 20px;
}
.nextweek {
  border-left: 1px solid #EEE;
  margin-left: -1px;
  padding-left: 20px;
}
.edit {
  display: none;
}
.task span {
  text-decoration: none;
}
