<div class="container">
	<header class="row">
		<div class="span3">
			<h2><a href="{{ url_for('index') }}">Demoknight</a></h2>
		</div>
		<div class="span4 offset5">
			<div class="pull-right">
			{% if g.user %}
				<a class="btn" href="{{ url_for('home') }}">Home</a>
				<a class="btn" href="{{ url_for('settings') }}">Settings</a>
				<a class="btn" href="{{ url_for('logout') }}">Logout</a>
			{% else %}
				<a class="btn" href="{{ url_for('about') }}">About</a>
				<a class="btn" href="{{ url_for('login') }}">Login</a>
				<a class="btn" href="{{ url_for('signup') }}">Sign Up</a>
			{% endif %}
			</div>
		</div>
	</header>
</div>