{% extends "layout.html" %}

{% block body %}
<link rel=stylesheet type=text/css href="/static/css/datepicker.css">

<div class="container" id="home">
    <div class="row" id="input_container">

    </div>
	<div class="row boom">
        <div class="span4 week" id="this_week">
        </div>
        <div class="span4 week" id="planner">
        </div>
        <div class="span4 week" id="next_week">
        </div>
	</div>
</div>

<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>

<script type="text/template" id="day_template">
    <div><%= day %></div>
    <div class="herp">New Task</div>
    <div class="input-append task_inputter">
        <input class="span2 checker" type="text" placeholder="Task name">
        <span class="add-on"> ~ </span>
        <input class="span1 estimate checker" placeholder="1 hour" type="text">
    </div>
    <div class="input_cover"></div>
</script>

<script type="text/template" id="planday_template">
    <div class="planday">
        <div><%= day %></div>
    </div>
</script>

<script type="text/template" id="task_template">
    <input class="toggle pull-left" type="checkbox" <%= checked %>>
    <div class="task_name pull-left <%= done ? ' checked' : '' %>"><%= name %></div>
    <input class="edit" style="display:none;" type="text" value="<%= name %>" />
    <div class='input_cover'></div>
    <i class="pull-right icon-remove-sign delete_task"></i>
</script>

<script type="text/template" id="plan_template">
    <div class="plan">
        <input class="toggle" type="checkbox" <%= if(plan.done=="true"){ %><%='checked="checked"'} %><% } %> />
        <label> <%= plan.name %> </label>
    </div>

</script>

{% endblock %}