{% extends "layout.html" %}

{% block body %}
<link rel=stylesheet type=text/css href="/static/css/datepicker.css">

<div class="container" id="home">
    <div class="row" id="input_container">

    </div>
	<div class="row">
        <div class="span4 week" id="this_week">
        </div>
        <div class="span4 week" id="planner">
        </div>
        <div class="span4 week" id="next_week">
        </div>
	</div>
</div>

<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>

<script type="text/template" id="inputter_template">
    <div class="task_input span12">
        <input type="text" class="task_name" placeholder="New task">
        <div class="input-append date" id="dawg" data-date="<%= today %>" data-date-format="mm-dd-yyyy">
          <input class="span2" size="16" type="text" value="<%= today %>">
          <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        <select class="task_length">
            <option>30 min</option>
            <option>1 hour</option>
            <option>2 hours</option>
            <option>3 hours</option>
            <option>4 hours</option>
            <option>5 hours</option>
            <option>6 hours</option>
        </select>
        <button type="submit" class="btn add_task">Submit</button>
    </div>
</script>

<script type="text/template" id="day_template">
    <div class="day">
        <%= day %>
    </div>
</script>

<script type="text/template" id="task_template">
    <div class="task">
        <input class="toggle" type="checkbox" <% if(task.done=="true"){ %><%='checked="checked"' %><% } %> />
        <label> <%= task.name %> </label>
        <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%= task.name %>" />
</script>

<script type="text/template" id="plan_template">
    <div class="plan">
        <input class="toggle" type="checkbox" <%= if(plan.done=="true"){ %><%='checked="checked"'} %><% } %> />
        <label> <%= plan.name %> </label>
    </div>

</script>

{% endblock %}